{{ define "home/index.html" }}
  {{ template "layouts/header.html"}}
  <h1 class="text-pink-400 text-2xl text-center font-bold">{{ .title }}</h1>
  <h5>User logged in: {{ .isLoggedIn }}</h5>
  <div>
    <ul class="text-slate-700">
      {{ range .users }}
      <li> {{ .Username }} - {{ .Email }} </li>
      {{ end }}
    </ul>
  </div>
  {{ if .isLoggedIn }}
  <form action="/logout" method="POST">
    <button>Logout</button>
  </form>
  {{ else }}
  <div class="flex gap-4">
    <a class="block" href="/login">Login</a>
    <a class="block bg-red-600" href="/signup">Signup</a>
  </div>
  <img src="/assets/no-image.jpg" class="border border-pink-300 m-10 rounded-xl w-[200px] h-[200px]" >
  {{ end }}
  {{ template "layouts/footer.html"}}
{{ end }}
