{{ define "layouts/header.html" }}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Music Vs Store</title>
    <link rel="stylesheet" href="/styles/output.css">
    <link rel="stylesheet" href="/styles/splide.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.12" integrity="sha384-ujb1lZYygJmzgSwoxRggbCHcjc0rB2XoQrxeTUQyRjrOnlCoYta87iKBWq3EsdM2" crossorigin="anonymous"></script>
    <script src="/js/splide.min.js"></script>
    <script defer src="/js/index.js"></script>
  </head>
<body>
  <div class="flex flex-col min-h-screen">
    <header class="flex h-16 w-full items-center justify-between bg-white px-4 shadow-sm">
        <div class="flex items-center gap-20">
          <a class="flex items-center gap-4" href="/">
            <img src="/assets/images/logo.png" class="h-12" >
            <span class="text-lg whitespace-nowrap lg:text-3xl font-medium font-harlow">Music VS Store</span>
          </a>
          <nav class="hidden md:flex items-center gap-1 md:gap-4">
            {{ range $value := .pages.Pages }}
            <a class="text-sm whitespace-nowrap lg:text-lg font-medium {{ if (eq $value.Value $.pages.CurrentPage)}} text-amber-600 {{ else }} text-black hover:text-gray-600 {{ end }}" href="/{{ $value.Value }}">
              {{ $value.Name }}
            </a>
            {{ end }}
          </nav>
        </div>
        <div class="flex items-center gap-4">
          <a class="relative" href="/cart">
            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path
                d="M3 3H5L5.4 5M7 13H17L21 5H5.4M7 13L5.4 5M7 13L4.70711 15.2929C4.07714 15.9229 4.52331 17 5.41421 17H17M17 17C15.8954 17 15 17.8954 15 19C15 20.1046 15.8954 21 17 21C18.1046 21 19 20.1046 19 19C19 17.8954 18.1046 17 17 17ZM9 19C9 20.1046 8.10457 21 7 21C5.89543 21 5 20.1046 5 19C5 17.8954 5.89543 17 7 17C8.10457 17 9 17.8954 9 19Z"
                stroke="currentColor"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
              />
            </svg>
            {{ if .isLoggedIn }}
            <div class="absolute -top-2 -right-2 flex h-5 w-5 items-center justify-center rounded-full bg-red-500 text-xs text-white">
              2
            </div>
            {{ end }}
          </a>
          <div class="relative">
            <div id="user-icon" class="h-6 w-6 overflow-hidden cursor-pointer hover:text-amber-600">
              {{ if .isLoggedIn }}
              <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <circle cx="12" cy="9" r="3" stroke="currentColor" stroke-width="1.5"></circle> <path d="M17.9691 20C17.81 17.1085 16.9247 15 11.9999 15C7.07521 15 6.18991 17.1085 6.03076 20" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"></path> <path d="M7 3.33782C8.47087 2.48697 10.1786 2 12 2C17.5228 2 22 6.47715 22 12C22 17.5228 17.5228 22 12 22C6.47715 22 2 17.5228 2 12C2 10.1786 2.48697 8.47087 3.33782 7" stroke="currentColor" stroke-width="2" stroke-linecap="round"></path> </g></svg>
              {{ else }}
              <svg fill="currentColor" height="100%" width="100%" version="1.1" id="_x32_" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 512 512" xml:space="preserve" fill="currentColor"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <g> <path class="st0" d="M155.81,0v173.889h33.417V33.417h235.592l-74.87,50.656c-8.469,5.727-13.535,15.289-13.535,25.503v286.24 H189.227V282.079H155.81v147.154h180.604v70.93c0,4.382,2.423,8.404,6.29,10.451c3.867,2.056,8.558,1.811,12.189-0.644 l119.318-80.736V0H155.81z"></path> <path class="st0" d="M228.657,290.4c0,1.844,1.068,3.524,2.75,4.3c1.664,0.775,3.638,0.514,5.042-0.685l78.044-66.035 l-78.044-66.034c-1.404-1.2-3.378-1.46-5.042-0.686c-1.681,0.775-2.75,2.456-2.75,4.3v33.392H37.79v58.064h190.868V290.4z"></path> </g> </g></svg>
              {{ end }}
              <span class="sr-only">Toggle user menu</span>
            </div>
            <div id="menu-dropdown" class="hidden absolute right-0 z-10 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none">
              {{ if .isLoggedIn}}
              <a
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                href="#"
              >
                Мой профиль
              </a>
              <a
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                href="#"
              >
                Заказы
              </a>
              <div class="border-t border-gray-100" />
              <a
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                hx-post="/logout"
              >
                Выйти
              </a>
              {{ else }}
              <a
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                href="/login"
              >
                Войти
              </a>
              <a
                class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100"
                href="/signup"
              >
                Зарегистрироваться
              </a>
              {{ end }}
            </div>
          </div>
        </div>
      </header>
    <main class="flex-1 block">
{{ end }}
