{{ define "web/cart.html" }} {{ template "layouts/header.html" . }}
<div class="border border-rose-300 px-20 py-10 space-y-10">
  <h1 class="text-4xl">Корзина</h1>
  {{ if .isLoggedIn }}
  <div class="space-y-10">
    {{ if not .products }}
    <div class="text-pink-400">You have no products in cart</div>
    {{ else }} 
      {{ range .products }} 
      {{ template "components/cartItem.html" . }}
    {{ end }}
  </div>
  {{ end }}
  <div class="flex justify-end">
    <div class="space-y-4">
      <div id="cart-total">Итоговая сумма: <span class="text-lg font-semibold">{{ .session.TotalInt.Int32 }}.00 руб</span></div>
      <div class="p-4 border border-gray-100 rounded-md hover:bg-slate-100 text-center cursor-pointer">
        Оформить заказ
      </div>
    </div>
  </div>
  {{ else }}
  <div class="text-xl text-red-400">not logged in</div>
  {{ end }}
</div>
{{ template "layouts/footer.html" }} {{ end }}
