{{ define "web/catalogue.html" }}
  {{ template "layouts/header.html" . }}
        <section class="w-full max-w-[1200px] mx-auto space-y-8 text-primary">
          <div class="flex gap-2">
            <a href="/" class="hover:underline opacity-60 hover:opacity-100">Главная</a>
            <span>/</span>
            <div class="">Каталог</div>
          </div>
          <h1 class="text-center text-4xl mb-4">Категории товаров</h1>
          <div class="container grid gap-8 mx-auto">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 gap-4">
              {{ range .categories }}
              <div class="relative group border border-tertiary rounded-lg lg:h-[400px] cursor-pointer hover:border-secondary transition overflow-hidden">
                <a class="absolute inset-0 z-10" href="/catalogue/{{ .Slug }}">
                  <span class="sr-only">{{ .Name }}</span>
                </a>
                <img
                  alt="{{ .Name }}"
                  class="rounded-lg object-cover lg:object-contain w-full h-full group-hover:scale-105 transition"
                  {{ if .ImgUrl.Valid }}
                  src="{{ .ImgUrl.Value }}"
                  {{ else }}
                  src="assets/images/no-image.jpg"
                  {{ end }}
                />
                <div class="flex-1 py-4 absolute z-1 inset-0">
                  <h3 class="font-semibold tracking-tight text-center px-4 py-2 bg-white w-fit border border-tertiary border-l-transparent group-hover:bg-secondary group-hover:text-white group-hover:border-secondary transition bg-opacity-50">
                    {{ .Name }}
                  </h3>
                </div>
              </div>
              {{ end }}
            </div>
          </div>
        </section>
  {{ template "layouts/footer.html" . }}
{{ end }}
