{{ define "web/category.html" }} {{ template "layouts/header.html" . }}
<div class="max-w-[1400px] mx-auto space-y-8">
  <div class="flex gap-2">
    <a href="/" class="hover:underline opacity-60 hover:opacity-100">Главная</a>
    <span>/</span>
    <a href="/catalogue" class="hover:underline opacity-60 hover:opacity-100">Каталог</a>
    <span>/</span>
    <div>{{ .categoryName }}</div>
  </div>
  <div
    class="grid grid-cols-[250px_auto]"
  >
    <form 
      hx-get="/catalogue/{{ .slug }}/htmx"
      hx-params="*"
      hx-target="#products"
      hx-trigger="click from:#apply"
      hx-swap="outerHTML transition:true"
      class="shadow-md shadow-hover space-y-3 p-4 h-fit"
    >
      <div class="text-lg font-semibold text-center">Фильтр по параметрам</div>
      <div class="space-y-2">
        <div class="text-center">Цена руб.</div>
        <div class="space-y-2">
          <div class="flex justify-center items-center gap-2">
            <input
              id="min_price"
              class="border border-primary max-w-[100px] rounded-sm"
              type="number"
              value=""
              name="min_price"
              placeholder="min"
            />
            <input
              id="max_price"
              class="border border-primary max-w-[100px] rounded-sm"
              type="number"
              value=""
              name="max_price"
              placeholder="max"
            />
          </div>
          <div class="space-y-1">
            <label for="label_id" class="block text-center">Производитель</label>
            <select
              name="label_id"
              id="label_id"
              class="border border-primary p-1 rounded-sm"
              value="0"
            >
              <option value="0" class="hidden">Выберите производителя</option>
              {{ range .labels }}
              <option value="{{ .ID }}">{{ .Name }}</option>
              {{ end }}
            </select>
          </div>
          <div class="space-y-2">
            <label for="price_sorting">Сортировка</label>
            <select 
              class="border border-primary p-1 rounded-sm"
              name="price_sorting"
              id="price_sorting"
              >
              <option value="" {{ if (eq .priceSorting "") }} selected {{ end }}>Не сортировать</option>
              <option value="ASC" {{ if (eq .priceSorting "ASC") }} selected {{ end }}>По возрастанию цены</option>
              <option value="DESC" {{ if (eq .priceSorting "DESC") }} selected {{ end }}>По убыванию цены</option>
            </select>
          </div>
        </div>
      </div>
      <div class="flex gap-4">
        <div id="apply" class="px-4 py-2 border border-primary bg-primary text-white cursor-pointer transition hover:bg-hover hover:text-primary">
          Применить
        </div>
        <div id="reset" class="px-4 py-2 border border-transparent text-secondary cursor-pointer hover:border-secondary">
          Сброс
        </div>
      </div>
    </form>
    <div class="px-6 py-3 text-primary space-y-4">
      <h1 class="text-2xl">{{ .categoryName }}</h1>
      {{ template "components/products.html" . }}
    </div>
  </div>
</div>
{{ template "layouts/footer.html" . }} {{ end }}
