{{ define "web/checkout.html" }} 
{{ template "layouts/header.html" . }}
<div class="border border-rose-300 px-20 py-10 space-y-10">
  <h1 class="text-4xl">Оформление заказа</h1>
  {{ if .isLoggedIn }}
  <div class="grid grid-cols-[1fr_300px]">
    <div class="border border-sky-300 col-start-2">
      <div>products - {{ .cartProductsCount}}</div>
      <div>total - {{ .totalPrice }}</div>
      <div>discount - {{ .discount }}</div>
      <div>final total - {{ .finalTotal }}</div>
    </div>
    <div class="border border-blue-200 col-start-1 row-start-1">
      aboba 
    </div>
  </div>
  {{ else }}
  <div class="space-y-10">
    NOT logged in
  </div>
  {{ end }}
</div>
{{ template "layouts/footer.html" }} 
{{ end }}

