{{ define "web/contacts.html" }} {{ template "layouts/header.html" . }}
<div class="space-y-8 max-w-[1400px] mx-auto">
  <div class="flex gap-2">
    <a href="/" class="hover:underline opacity-60 hover:opacity-100">Главная</a>
    <span>/</span>
    <div>Контакты</div>
  </div>
  <div class="space-y-4">
    <h1 class="text-2xl font-semibold">Контакты</h1>
  </div>
  <div class="space-y-4">
    <div>
      <span class="font-semibold">ООО "Music VS Store"</span> - интернет-магазин
      музыкальных инструментов по низким ценам.
    </div>
    <div>
      <span class="font-semibold">Мы находимся по адресу:</span> 241020, г.
      Брянск, пер. Менжинского, 74
    </div>
    <div>
      <span class="font-semibold">Телефон:</span>
      <a href="tel:8-950-691-59-37" class="hover:underline hover:text-secondary"
        >8-950-691-59-37</a
      >
    </div>
    <div>
      <span class="font-semibold"> E-mail: </span>
      <a
        href="mailto:MusicVS32Store@mail.ru"
        class="hover:underline hover:text-secondary"
        >MusicVS32Store@mail.ru</a
      >
    </div>
  </div>
  <iframe
    src="https://yandex.ru/map-widget/v1/?um=constructor%3A380e9f27fa734e3ff08785900535a865164b5bfabe62a5a84736b38a3bf021f7&amp;source=constructor"
    width="100%"
    height="400"
    frameborder="0"
  ></iframe>
</div>
{{ template "layouts/footer.html" . }} {{ end }}
