{{ define "web/delivery.html" }}
  {{ template "layouts/header.html" . }}
  <div class="space-y-8 max-w-[900px] mx-auto">
    <div class="flex gap-2">
      <a href="/" class="hover:underline opacity-60 hover:opacity-100">Главная</a>
      <span>/</span>
      <div>Доставка и oплата</div>
    </div>
    <div class="space-y-4">
      <h1 class="text-2xl font-semibold">Доставка и oплата</h1>
    </div>
    <div class="space-y-4">
      <h2 class="uppercase text-xl">Оформление заказа</h2>
      <div class="space-y-2">
        <div>Вы определились с выбором и готовы заказать? Все довольно просто.</div>
        <ul>
          <li>
            •	Положите выбранный товар в корзину
          </li>
          <li>
            •	Нажмите на Корзину и проверьте товар, количество и стоимость. Вы можете изменить товар, его количество прямо в корзине.
          </li>
          <li>
            •	Мы доставляем товар бесплатно по городу Брянск при заказе от 10000 рублей. Добавьте дополнительные товары в корзину и получите бесплатную доставку.
          </li>
          <li>
            •	Вы окончательно определились с выбором? Жмите Сделать заказ.
          </li>
          <li>
            •	Для оформления заказа необходимо указать Ваше имя и адрес электронной почты. На этот адрес электронной почты будет выслана копия Вашего заказа. Ваш адрес электронной почты будет являться логином в Ваш Личный Кабинет.
          </li>
        </ul>
      </div>
    </div>
    <div class="space-y-4">
      <h2 class="uppercase text-xl">Оплата заказа</h2>
      <div class="space-y-2">
        <div>При оформлении Вы можете выбрать удобный для Вас способ оплаты. Мы предлагаем следующие способы:</div>
        <ul>
          <li>
            •	Наличными нашему курьеру. Наиболее популярный способ оплаты. Вы оплачиваете заказ непосредственно при получении, после осмотра товара. Если по каким-то причинам Вы не уверены в выбранном товаре, Вы имеете полное право отказаться от всего заказа или его части.
          </li>
          <li>
            •	Оплата при оформлении заказа. Вы можете сразу выбрать способ оплаты «Банковской картой» на этапе оформления заказа. Если товар Вас не удовлетворяет, то вы можете связаться с нами и оформить возврат товара и денежных средств.
          </li>
        </ul>
      </div>
    </div>
    <div class="space-y-4">
      <h2 class="uppercase text-xl">Доставка заказа</h2>
      <div class="space-y-2">
        <div>При заказе в интернет-магазине Music VS Store на сумму свыше 10 000 рублей доставка производится бесплатно. Доставка заказа менее 10 000 рублей стоит 500 рублей.</div>
        <div>Мы предлагаем следующие виды доставки:</div>
        <ul>
          <li>
            •	Курьерская доставка. Действует только для заказов из Брянска и Брянской области. Стандартно курьерская доставка осуществляется на следующий день после получения заявки. Если заказ состоит из нескольких разных позиций, нам может понадобиться время для его сбора с разных складов. Оператор интернет-магазина обязательно свяжется с Вами и обсудит этот момент.
          </li>
          <li>
            •	Срочная курьерская доставка. Мы не берем денег за срочную доставку! Если у нас есть возможность, мы доставим срочно (Возможно в день заказа). Если нет - то мы и за деньги не сможем это сделать.
          </li>
          <li>
            •	Доставка в регионы транспортной компанией.
          </li>
        </ul>
      </div>
    </div>
    <div class="space-y-4">
      <h2 class="uppercase text-xl">Возврат товара</h2>
      <div class="space-y-2">
        <p>
          В соответствии с Законом "О защите прав потребителей" Вы в праве отказаться от товара в любой момент до его передачи. Вы можете выслать свой отказ на нашу почту с указанием номера заказа, либо сообщить об отказе оператору по телефону 8-950-691-59-37.
        </p>
        <p>
          Так же Вы можете отказаться от покупки и вернуть товар курьеру при получении, после осмотра товара. (После осмотра товар должен оставаться целым, с наличием всех бирок и ярлыков. Не допускается нарушение целостности упаковки). В случае отказа Покупатель не оплачивает стоимость доставки.
        </p>
        <p>
          После получения товара, его осмотра и подписания Акта о приемке товар считается принятым.
        </p>
        <p>
          Возврат товара надлежащего качества. Если после получения товара Вы по каким-то причинам изменили свое решение, Вы можете вернуть его в течении 14 дней с момента покупки (согласно ст. 26.1 Закона "О защите прав потребителей"). К возврату принимается только новый товар, без следов использования, с сохранением всех ярлыков и этикеток, и целостности товарной упаковки.
        </p>
      </div>
    </div>
  </div>
  {{ template "layouts/footer.html" . }}
{{ end }}
