{{ define "web/index.html" }}
  {{ template "layouts/header.html" . }}
        <section class="w-full py-12 md:py-24 lg:py-32 max-w-[1000px] mx-auto space-y-10">
          <h1 class="text-center text-4xl mb-4">Популярные категории</h1>
          <div class="container grid gap-8 px-4 md:px-6">
            <div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-3 md:grid-rows-2 gap-4">
              {{ range $index, $value := .categories }}
              {{ if lt $index 5 }}
              <div class="relative group last:col-span-2 last:group-last max-h-[360px]">
                <a class="absolute inset-0 z-10" href="/catalogue/{{ $value.Slug }}">
                  <span class="sr-only">{{ $value.Name }}</span>
                </a>
                <img
                  alt="Electronics"
                  class="rounded-lg object-cover w-full h-[300px] group-hover:scale-[103%] transition-all border border-gray-100 group-last:object-bottom"
                  {{ if $value.ImgUrl.Valid }}
                  src="{{ $value.ImgUrl.Value }}"
                  {{ else }}
                  src="/assets/images/no-image.jpg"
                  {{ end }}
                />
                <div class="flex-1 py-4">
                  <h3 class="font-semibold tracking-tight text-center">{{ .Name }}</h3>
                </div>
              </div>
              {{ end }}
              {{ end }}
            </div>
          </div>
        </section>
  {{ template "layouts/footer.html"}}
{{ end }}
