{{ define "web/product.html" }} {{ template "layouts/header.html" . }}
<div class="flex flex-col min-h-screen">
  <div class="flex-1 mx-auto">
    <section class="w-full py-12 md:py-24 lg:py-32">
      <div class="container grid grid-cols-1 md:grid-cols-[1fr_1.5fr] gap-8 px-4 md:px-6 max-w-[1200px]">
        <div class="grid gap-4">
          <section id="main-carousel" class="splide border border-gray-100 rounded-xl overflow-hidden">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide h-[650px] max-w-[450px]">
                  <img class="w-full h-full object-contain" src="/assets/images/categories/mics.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/categories/cables.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/categories/guitars.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
              </ul>
            </div>
          </section>
          <section id="thumbnail-carousel" class="splide max-w-[450px]">
            <div class="splide__track">
              <ul class="splide__list">
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/categories/mics.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/categories/cables.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/categories/guitars.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
                <li class="splide__slide">
                  <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="">
                </li>
              </ul>
            </div>
          </section>
        </div>
        <div class="grid gap-6">
          <div>
            <h1 class="text-3xl font-bold">Acme Circles T-Shirt</h1>
            <p class="text-gray-500">
              60% combed ringspun cotton/40% polyester jersey tee.
            </p>
          </div>
          <div class="flex items-center gap-4">
            <div class="flex items-center gap-1">
              <svg class="w-5 h-5 fill-primary" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z" />
              </svg>
              <svg class="w-5 h-5 fill-primary" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z" />
              </svg>
              <svg class="w-5 h-5 fill-primary" fill="none" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z" />
              </svg>
              <svg class="w-5 h-5 fill-muted stroke-muted-foreground" fill="none" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z" />
              </svg>
              <svg class="w-5 h-5 fill-muted stroke-muted-foreground" fill="none" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M12 2L15.09 8.26L22 9.27L17 14.14L18.18 21.02L12 17.77L5.82 21.02L7 14.14L2 9.27L8.91 8.26L12 2Z" />
              </svg>
            </div>
            <span class="text-4xl font-bold">$99</span>
          </div>
          <form class="grid gap-4">
            <div class="grid gap-2">
              <label class="text-base" htmlFor="color"> Color </label>
              <div class="flex items-center gap-2">
                <label
                  class="border cursor-pointer rounded-md p-2 flex items-center gap-2 [&:has(:checked)]:bg-gray-100"
                  htmlFor="color-black">
                  <input defaultChecked id="color-black" name="color" type="radio" value="black" />
                  Black
                </label>
                <label
                  class="border cursor-pointer rounded-md p-2 flex items-center gap-2 [&:has(:checked)]:bg-gray-100"
                  htmlFor="color-white">
                  <input id="color-white" name="color" type="radio" value="white" />
                  White
                </label>
                <label
                  class="border cursor-pointer rounded-md p-2 flex items-center gap-2 [&:has(:checked)]:bg-gray-100"
                  htmlFor="color-blue">
                  <input id="color-blue" name="color" type="radio" value="blue" />
                  Blue
                </label>
              </div>
            </div>
            <div class="grid gap-2">
              <label class="text-base" htmlFor="size"> Size </label>
              <div class="flex items-center gap-2">
                <label
                  class="border cursor-pointer rounded-md p-2 flex items-center gap-2 [&:has(:checked)]:bg-gray-100"
                  htmlFor="size-xs">
                  <input id="size-xs" name="size" type="radio" value="xs" />
                  XS
                </label>
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </div>
</div>
{{ template "layouts/footer.html"}} {{ end }}
