{{ define "web/product.html" }} {{ template "layouts/header.html" . }}
<div class="flex flex-col gap-10 text-primary max-w-[1400px] mx-auto">
  <div class="flex gap-2">
    <a href="/" class="hover:underline opacity-60 hover:opacity-100">Главная</a>
    <span>/</span>
    <div>{{ .product.Name }}</div>
  </div>
  <div class="mx-auto">
    <section class="w-full">
      <div class="container grid grid-cols-1 md:grid-cols-[1fr_1.5fr] gap-8 px-4 md:px-6 max-w-[1200px]">
        <div class="grid gap-4">
          <section id="main-carousel" class="splide border border-gray-100 rounded-xl overflow-hidden">
            <div class="splide__track">
              <ul class="splide__list">
                {{ if eq (len .product.Images) 0 }}
                  <li class="splide__slide">
                    <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="image">
                  </li>
                {{ else }}
                  {{ range .product.Images }}
                  <li class="splide__slide h-[650px] max-w-[450px]">
                    <img class="w-full h-full object-contain" src="{{ . }}" alt="image">
                  </li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </section>
          <section id="thumbnail-carousel" class="splide max-w-[450px]">
            <div class="splide__track">
              <ul class="splide__list">
                {{ if eq (len .product.Images) 0 }}
                  <li class="splide__slide">
                    <img class="w-full h-full object-cover" src="/assets/images/no-image.jpg" alt="image">
                  </li>
                {{ else }}
                  {{ range .product.Images }}
                  <li class="splide__slide">
                    <img class="w-full h-full object-cover" src="{{ . }}" alt="image">
                  </li>
                  {{ end }}
                {{ end }}
              </ul>
            </div>
          </section>
        </div>
        <div class="grid gap-6">
          <div class="space-y-4">
            <h1 class="text-3xl font-bold">{{ .product.Name }}</h1>
            <div class="flex gap-4">
              <div class="text-lg">ID товара: <span class="font-semibold">{{ .product.ID }}</span></div>
              <div class="text-lg">В наличии: 
                {{ if .product.InStock }} 
                <span class="font-semibold text-emerald-400">
                  ДА
                </span>
                {{ else }}
                <span class="font-semibold text-red-400">
                  НЕТ
                </span>
                {{ end }}
              </div>
            </div>
          </div>
          <div class="max-w-[400px] overflow-hidden overflow-ellipsis space-y-2">
            <div class="text-lg">Производитель: <span class="font-semibold">{{ .labelName }}</span></div>
            {{ if .product.Description.Valid }}
            <p class="rounded-md p-1 italic overflow-hidden overflow-ellipsis line-clamp-5">
              {{ .product.Description.Value }}
            </p>
            {{ end }}
          </div>
          <div class="flex items-center gap-4 text-lg">
            Цена: <span id="product-price" class="text-4xl font-bold">{{ .product.PriceInt }}.00 руб</span>
          </div>
          <div class="grid gap-4">
            <div class="grid gap-2">
              {{ if .product.InStock }}
              <form 
                class="space-y-2"
                hx-trigger="click from:#to-cart"
                hx-params="*"
                hx-post="/add-to-cart"
                hx-target="#cart-add-swap"
                hx-swap="outerHTML transition:true"
              >
                <input class="hidden" type="number" name="id" value="{{ .product.ID }}">
                {{ if .isLoggedIn }}
                  {{ if .isProductInCart }}
                    {{ template "components/createdCartItem.html" . }} 
                  {{ else }}
                  <div id="cart-add-swap" class="flex flex-col gap-2">
                    <div class="flex">
                      <div id="decrement-quantity" class="border-t border-l border-b border-primary bg-hover text-primary rounded-l-md h-[30px] w-[30px] text-center text-xl cursor-pointer hover:bg-primary hover:text-white transition">-</div>
                      <input id="quantity" type="number" name="quantity" value="1" class="border border-primary max-w-[30px] h-[30px] text-center pointer-events-none p-0 m-0 remove-arrow">
                      <div id="increment-quantity" class="border-t border-r border-b border-primary bg-hover text-primary rounded-r-md h-[30px] w-[30px] text-center text-xl cursor-pointer hover:bg-primary hover:text-white transition">+</div>
                      <div class="text-lg ml-12">Общая сумма: <span id="total" class="font-semibold">{{ .product.PriceInt }}.00 руб</span></div>
                    </div>
                    <div id="to-cart" class="px-4 py-2 rounded-sm border border-primary cursor-pointer hover:bg-primary hover:text-white hover:border-primary transition w-fit">В корзину</div>
                  </div>
                  {{ end }}
                  {{ if not .isProductInCart }}
                  <div 
                    hx-trigger="click"
                    hx-post="/buy-product"
                    hx-include="[name='id'],[name='quantity']"
                    class="px-4 py-2 rounded-sm border border-secondary cursor-pointer hover:bg-secondary hover:text-white transition w-fit"
                  >
                    Купить сейчас
                  </div>
                  {{ else }}
                  <a 
                    href="/checkout"
                    class="block px-4 py-2 rounded-sm border border-secondary cursor-pointer hover:bg-secondary hover:text-white transition w-fit"
                  >
                    Купить сейчас
                  </a>
                  {{ end }}
                {{ else }}
                <a href="/login" class="hover:underline text-slate-400 hover:text-black">Чтобы купить товар или добавить его в корзину, войдите в аккаунт</a>
                {{ end }}
              </form>
              {{ else }}
              <div>Товара нет в наличии</div>
              {{ end }}
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="space-y-4">
    <h2 class="text-2xl font-bold">О товаре</h2>
    <div>
      <div class="flex">
        <div id="desc-tab" class="px-6 py-3 border-t border-l border-r border-hover bg-white font-semibold cursor-pointer mb-[-1px] hover:bg-hover">Описание</div>
        <div id="chars-tab" class="px-6 py-3 border-t border-r border-hover cursor-pointer mb-[-1px] hover:bg-hover">Характеристики</div>
      </div>
      <div id="desc" class="px-10 py-7 border border-hover">
        {{ if .product.Description.Valid }}
        <p class="whitespace-pre-wrap">{{ .product.Description.Value }}</p>
        {{ else }}
        <p>Нет описания</p>
        {{ end }}
      </div>
      <div id="chars" class="hidden px-10 py-7 border border-hover">
        {{ if .product.Characteristics.Valid }}
        <p class="whitespace-pre-wrap">{{ .product.Characteristics.Value }}</p>
        {{ else }}
        <p>Характеристики не указаны</p>
        {{ end }}
      </div>
    </div>
  </div>
</div>
{{ template "layouts/footer.html" . }} {{ end }}
