@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Harlow';
    src: url('../assets/fonts/Harlow.TTF');
  }
}
.splide__slide {
  opacity: 0.6;
}

.splide__slide.is-active {
  opacity: 1;
}
