{{ define "components/cartItem.html" }}
<div
  id="cart-item-{{ .ID }}"
  class="p-10 border border-slate-100 shadow-md shadow-gray-300 grid grid-cols-[1fr_1fr] w-full"
>
  <div class="space-y-6">
    <div class="text-xl">Наименование товара</div>
    <div class="flex gap-10 items-center">
      <div class="w-[150px]">
        <img
          src="{{ if not .Images }}/assets/images/no-image.jpg {{ else }} {{ index .Images 0 }} {{ end }}"
          class="object-cover w-full h-full"
        />
      </div>
      <div class="space-y-4">
        <div class="text-xl">{{ .Name }}</div>
        <div>Код товара: {{ .ID }}</div>
      </div>
    </div>
  </div>
  <div class="flex gap-10 justify-between">
    <div class="space-y-20">
      <div>Цена</div>
      <div>{{ .PriceInt }}.00 руб</div>
    </div>
    <div class="space-y-20">
      <div>Количество</div>
      <div class="flex gap-2">
        <input
          id="input-{{ .ID }}"
          class="hidden"
          type="number"
          name="product_id"
          value="{{ .ID }}"
        />
        <div
          hx-post="/decrement-quantity"
          hx-include="previous #input-{{ .ID }}"
          hx-trigger="click"
          hx-target="#quantity-{{ .ID }}"
          hx-swap="innerHTML transition:true"
          class="w-[20px] h-[20px] border border-black cursor-pointer flex justify-cetner items-center"
        >
          -
        </div>
        <div id="quantity-{{ .ID }}">{{ .Quantity }}</div>
        <div
          hx-post="/increment-quantity"
          hx-include="previous #input-{{ .ID }}"
          hx-trigger="click"
          hx-target="#quantity-{{ .ID }}"
          hx-swap="innerHTML transition:true"
          class="w-[20px] h-[20px] border border-black cursor-pointer flex justify-center items-center"
        >
          +
        </div>
      </div>
    </div>
    <div class="space-y-20">
      <div>Стоимость</div>
      <div id="total-{{ .ID }}">{{ mul .PriceInt .Quantity }}.00 руб</div>
    </div>
    <div 
      hx-delete="/delete-cart-item/{{ .ID }}"
      hx-target="#cart-item-{{ .ID }}"
      hx-swap="outerHTML"
      class="text-red-400 text-4xl cursor-pointer"
    >x</div>
  </div>
</div>
{{ end }}
