{{ define "components/cartItem.html" }}
<div
  id="cart-item-{{ .ID }}"
  class="px-6 py-4 border border-slate-100 shadow-md shadow-gray-300 grid grid-cols-1 xl:grid-cols-[1fr_1fr] w-full gap-y-4"
>
  <div class="space-y-6">
    <div class="text-xl">Наименование товара</div>
    <div class="flex gap-10 justify-end items-center md:self-start md:justify-start">
      <div class="w-[150px]">
        <img
          src="{{ if not .Images }}/assets/images/no-image.jpg {{ else }} {{ index .Images 0 }} {{ end }}"
          class="object-cover w-full h-full"
        />
      </div>
      <div class="space-y-4">
        <div class="text-xl font-semibold">{{ .Name }}</div>
        <div>ID товара: {{ .ID }}</div>
      </div>
    </div>
  </div>
  <div class="flex flex-col-reverse gap-4 md:flex-row md:gap-10 items-end md:items-start justify-between row-start-1 xl:col-start-2">
    <div class="space-y-2 md:space-y-20 self-center">
      <div class="text-lg">Цена</div>
      <div class="font-semibold">{{ .PriceInt }}.00 руб</div>
    </div>
    <div class="space-y-2 md:space-y-20 self-center md:self-start">
      <div class="text-lg">Количество</div>
      <div class="flex">
        <input
          id="input-{{ .ID }}"
          class="hidden"
          type="number"
          name="product_id"
          value="{{ .ID }}"
        />
        <div
          hx-post="/decrement-quantity"
          hx-include="previous #input-{{ .ID }}"
          hx-trigger="click"
          hx-target="#quantity-{{ .ID }}"
          hx-swap="innerHTML transition:true"
          class="border-t border-l border-b border-primary bg-hover text-primary rounded-l-md h-[30px] w-[30px] text-center text-xl cursor-pointer hover:bg-primary hover:text-white transition"
        >
          -
        </div>
        <div id="quantity-{{ .ID }}" class="grid place-items-center h-[30px] w-[30px] border-t border-b border-primary">{{ .Quantity }}</div>
        <div
          hx-post="/increment-quantity"
          hx-include="previous #input-{{ .ID }}"
          hx-trigger="click"
          hx-target="#quantity-{{ .ID }}"
          hx-swap="innerHTML transition:true"
          class="border-t border-r border-b border-primary bg-hover text-primary rounded-r-md h-[30px] w-[30px] text-center text-xl cursor-pointer hover:bg-primary hover:text-white transition"
        >
          +
        </div>
      </div>
    </div>
    <div class="space-y-2 md:space-y-20 self-center md:self-start">
      <div class="text-lg">Стоимость</div>
      <div id="total-{{ .ID }}" class="font-semibold">{{ mul .PriceInt .Quantity }}.00 руб</div>
    </div>
    <div 
      hx-delete="/delete-cart-item/{{ .ID }}"
      hx-target="#cart-item-{{ .ID }}"
      hx-swap="outerHTML"
      class="text-red-400 text-4xl cursor-pointer w-[20px] h-[20px] hover:text-red-200"
    >
      <svg fill="currentColor" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512"><path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/></svg>
    </div>
  </div>
</div>
{{ end }}
