{{ define "components/createdCartItem.html" }}
<div class="space-y-2">
  <div class="text-lg font-semibold">Товар в корзине</div>
  <a href="/cart" class="block px-4 py-2 rounded-sm bg-secondary text-white w-fit hover:bg-hover hover:text-primary transition">Перейти в корзину</a>
</div>
<div 
  id="cart-indicator" 
  hx-swap-oob="true"
  class="{{ if not .CartProductsCount }} hidden {{ end }} absolute -top-2 -right-2 flex h-5 w-5 items-center justify-center rounded-full bg-red-500 text-xs text-white"
>
  {{ .CartProductsCount }}
</div>
{{ end }}
