{{ define "components/order_created.html" }}
<div class="block col-start-1 row-start-1 space-y-6 text-primary">
  <div class="text-2xl font-semibold">Спасибо за оформление заказа!</div>
  <div>Детали заказа можно посмотреть здесь: <a href="/orders/{{ .orderID }}" class="underline hover:text-secondary">ЗАКАЗ №{{ .orderID }}</a></div>
</div>
<div 
  id="cart-indicator" 
  hx-swap-oob="true"
  class="hidden absolute -top-2 -right-2 h-5 w-5 items-center justify-center rounded-full bg-red-500 text-xs text-white"
>
  0
</div>
{{ end }}
