{{ define "components/product_card.html" }}
{{ $isLoggedIn := index . 0 }}
{{ $product := index . 1 }}
<div
  class="p-4 rounded-md shadow-md shadow-[rgba(28,28,28,0.1)] cursor-pointer hover:bg-hover transition space-y-4 min-w-[290px] flex flex-col justify-between"
>
  {{ if $product.Images }}
  <img src="{{ index $product.Images 0 }}" class="h-[300px] w-full object-cover rounded-sm" />
  {{ else }}
  <img
    src="/assets/images/no-image.jpg"
    class="h-[300px] w-full object-cover rounded-sm"
  />
  {{ end }}
  <div class="text-center text-lg font-semibold">{{ $product.Name }}</div>
  <div class="flex justify-between px-10">
    <div>Цена:</div>
    <div class="text-center text-md font-bold">{{ $product.PriceInt }}.00 руб.</div>
  </div>
  <div class="flex justify-between px-10">
    <div>В наличии:</div>
    <div class="text-center text-md font-bold">{{ if $product.InStock }}<span class="text-green-400">ДА</span>{{ else }}<span class="text-rose-400">НЕТ</span>{{ end }}</div>
  </div>
  <div class="flex justify-center gap-4 w-full items-center">
    <a
      href="/products/{{ $product.ID }}"
      class="block px-4 py-2 border border-primary hover:bg-primary hover:text-white rounded-sm transition"
    >
      Подробнее
    </a>
    <!-- Maybe sometime in the future =) -->
    <!--{{ if $isLoggedIn }}
        <input class="hidden" type="number" name="id" value="{{ $product.ID }}">
        <input class="hidden" type="number" name="quantity" value="1">
        <div 
          id="to-cart" 
          class="px-4 py-2 bg-secondary text-white transition hover:text-secondary hover:bg-transparent border border-secondary rounded-sm">
          В корзину
        </div>
        {{ end }} -->
  </div>
</div>
{{ end }}
